{% extends "base.html" %}

{% block title %}
    {{cliente.nome}}
{% endblock title %}

{% block conteudo %}
    <div class="card">
        <div class="card-header">
            Dados do cliente
        </div>
         
        <div class="card-body">
            <h5 class="card-title">Nome: {{cliente.nome}}</h5>
            <h5 class="card-title">Data de nascimento: {{cliente.data_nascimento | date:"d/m/Y" }}</h5>
            <h5 class="card-title">Sexo: {{cliente.sexo}}</h5>
            <h5 class="card-title">Profissão: {{cliente.profissao}}</h5>
            <h5 class="card-title">Email: {{cliente.email}}</h5>
        </div>
        
    </div>
    <br>
    <a href={% url 'editar_cliente' cliente.id %}>
        <button class="btn btn-primary">Editar</button>
    </a>
    <a class="m-2" href={% url 'remover_cliente' cliente.id %}>
        <button class="btn btn-danger">Remover</button>
    </a>
    
{% endblock conteudo %} 