{% extends "base.html" %}

{% block title %}
    Remover
{% endblock title %}

{% block conteudo %}
    <div class="card">
        <div class="card-header">
            Dados do cliente
        </div>
         
        <div class="card-body">
            <h5 class="card-title">Nome: {{cliente.nome}}</h5>
            <h5 class="card-title">Data de nascimento: {{cliente.data_nascimento | date:"d/m/Y" }}</h5>
            <h5 class="card-title">Sexo: {{cliente.sexo}}</h5>
            <h5 class="card-title">Profissão: {{cliente.profissao}}</h5>
            <h5 class="card-title">Email: {{cliente.email}}</h5>
        </div>
        
    </div>
    <br>
    
    <div class="d-flex">
        <form method="POST" class="m-2">
            {% csrf_token %}
            <a href={% url 'remover_cliente' cliente.id %}>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </a>
        </form>
        <a class="m-2" href={% url 'listar_cliente_id' cliente.id %}>
            <button class="btn btn-danger">Cancelar</button>
        </a>
    </div>
    
    
{% endblock conteudo %} 